<?xml version="1.0" ?>
<!--
/**
 * FLIZpay Magento 2
 *
 * This Magento 2 extension enables to process payments with FLIZpay.
 *
 * @package FlizPay_Payment
 * @author  FLIZpay GmbH
 * @license OSL-3.0 (https://opensource.org/license/osl-3-0-php) / AFL-3.0 (https://opensource.org/license/afl-3-0-php)
 * @link    https://flizpay.de
 */
 -->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <preference
        for="FlizPay\Payment\Api\ConfigInterface"
        type="FlizPay\Payment\Model\Config"
    />

    <virtualType
        name="FlizPayPaymentGatewayConfig"
        type="Magento\Payment\Gateway\Config\Config"
    >
        <arguments>
            <argument name="methodCode" xsi:type="string">flizpay</argument>
        </arguments>
    </virtualType>

    <virtualType
        name="FlizPayPaymentConfigValueHandler"
        type="Magento\Payment\Gateway\Config\ConfigValueHandler"
    >
        <arguments>
            <argument
                name="configInterface"
                xsi:type="object"
            >FlizPayPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType
        name="FlizPayPaymentValueHandlerPool"
        type="Magento\Payment\Gateway\Config\ValueHandlerPool"
    >
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item
                    name="default"
                    xsi:type="string"
                >FlizPayPaymentConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType
        name="FlizPayPaymentCommandPool"
        type="Magento\Payment\Gateway\Command\CommandPool"
    >
        <arguments>
            <argument name="commands" xsi:type="array">
                <item
                    name="initialize"
                    xsi:type="string"
                >FlizPay\Payment\Gateway\Command\InitializeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType
        name="FlizPayPaymentFacade"
        type="FlizPay\Payment\Model\Method\Adapter"
    >
        <arguments>
            <argument name="code" xsi:type="string">flizpay</argument>
            <argument
                name="formBlockType"
                xsi:type="string"
            >Magento\Payment\Block\Form</argument>
            <argument
                name="infoBlockType"
                xsi:type="string"
            >Magento\Payment\Block\Info</argument>
            <argument
                name="valueHandlerPool"
                xsi:type="object"
            >FlizPayPaymentValueHandlerPool</argument>
            <argument
                name="commandPool"
                xsi:type="object"
            >FlizPayPaymentCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType
        name="FlizPayLoggerHandler"
        type="Magento\Framework\Logger\Handler\Base"
    >
        <arguments>
            <argument
                name="fileName"
                xsi:type="string"
            >/var/log/flizpay.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="FlizPayLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">flizpay</argument>
            <argument name="handlers" xsi:type="array">
                <item
                    name="system"
                    xsi:type="object"
                >FlizPayLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="FlizPay\Payment\Service\Logging\PaymentLogger">
        <arguments>
            <argument name="logger" xsi:type="object">FlizPayLogger</argument>
        </arguments>
    </type>

    <type name="FlizPay\Payment\Service\Api\FlizPayApiClient">
        <arguments>
            <argument
                name="logger"
                xsi:type="object"
            >FlizPay\Payment\Service\Logging\PaymentLogger</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Model\Service\InvoiceService">
        <plugin
            name="flizpay_full_invoice_validation"
            type="FlizPay\Payment\Plugin\InvoicePreparationPlugin"
        />
    </type>

    <type name="Magento\Sales\Model\Order">
        <plugin
            name="flizpay_order_full_invoice_validation"
            type="FlizPay\Payment\Plugin\OrderInvoicePreparationPlugin"
        />
    </type>

    <type name="Magento\Sales\Model\Order\CreditmemoFactory">
        <plugin
            name="flizpay_full_creditmemo_preparation"
            type="FlizPay\Payment\Plugin\CreditmemoPreparationPlugin"
        />
    </type>

    <type name="Magento\Sales\Model\Service\CreditmemoService">
        <plugin
            name="flizpay_full_offline_creditmemo_refund"
            type="FlizPay\Payment\Plugin\CreditmemoRefundPlugin"
        />
    </type>

    <type name="Magento\Sales\Model\RefundInvoice">
        <plugin
            name="flizpay_offline_invoice_refund"
            type="FlizPay\Payment\Plugin\RefundInvoicePlugin"
        />
    </type>
</config>
