<?xml version="1.0" ?>
<!--
/**
 * FLIZpay Magento 2
 *
 * This Magento 2 extension enables to process payments with FLIZpay (https://flizpay.de).
 *
 * @package FlizPay_Payment
 * @author  FLIZpay GmbH (https://flizpay.de)
 * @license https://www.gnu.org/licenses/gpl-2.0.txt GPLv2 or later
 * @link    https://flizpay.de
 */
 -->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd"
>
    <module name="FlizPay_Payment">
        <sequence>
            <module name="Magento_Store" />
            <module name="Magento_Backend" />
            <module name="Magento_Config" />
            <module name="Magento_Quote" />
            <module name="Magento_Sales" />
            <module name="Magento_Payment" />
            <module name="Magento_Checkout" />
        </sequence>
    </module>
</config>
