<?xml version="1.0" ?>
<!--
/**
 * FLIZpay Magento 2
 *
 * This Magento 2 extension enables to process payments with FLIZpay.
 *
 * @package FlizPay_Payment
 * @author  FLIZpay GmbH
 * @license OSL-3.0 (https://opensource.org/license/osl-3-0-php) / AFL-3.0 (https://opensource.org/license/afl-3-0-php)
 * @link    https://flizpay.de
 */
 -->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
    <event name="admin_system_config_changed_section_payment">
        <observer
            name="flizpay_connect_after_config_save"
            instance="FlizPay\Payment\Observer\ConnectAfterConfigSave"
        />
    </event>
    <event name="admin_system_config_changed_section_flizpay">
        <observer
            name="flizpay_connect_after_flizpay_section_save"
            instance="FlizPay\Payment\Observer\ConnectAfterConfigSave"
        />
    </event>
</config>
